.product-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid blue;
  padding: 5px;
}

.product-item {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}