* {
    box-sizing: border-box;
}

html, body {
    min-width: 500px;
    min-height: 500px;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(198, 211, 134);
}
 
body, input, button {
    font-family: arial,sans-serif;
    color: #222;
}

.flex-container {
    background-color: rgb(105, 121, 165);
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    position: absolute;
}

.flex-header-direita {
    background-color: rgb(255, 255, 255);
    padding: 6px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.flex-header-conteudo {
    display: flex;
    align-items: center;
    padding: 0 4px 0 32px;
    height: 48px;
}

.header-links {
    color: inherit;          /* eu tinha colocado text-decoration: none; */
    text-decoration: inherit;
    color: rgba(0,0,0,0.87);
    padding-left: 15px;
    font-size: 13px;
}

.header-links a:hover {
    text-decoration: underline;
}

#menu-botoes {
    display: flex;
    align-items: center;
}

#botao-login {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    padding: 9px 15px;
    min-width: 80px;    
    background: #1a73e8;
    border: 1px solid transparent;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    display: flex;
}

#menu-padding {
    display: flex;
    padding: 4px;
    max-width: 48px;
    max-height: 48px;
}

#menu-imagem {
    cursor: pointer;
    padding: 8px;
    height: 40px;
    width: 40px;
    display: flex;
}

#menu-imagem svg {
    max-height: 24px;
    max-width: 24px;
}

.flex-logo {
    background-color: rgb(255, 255, 255);
    font-size: 0px;
    height: calc(100% - 560px);
    height: calc(100vh - 560px);
    min-height: 92px;
    max-height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.logo-imagem {
    height: 92px;
    width: 272px;
}

.flex-centraliza-area-pesquisa {
    background-color: cornflowerblue;
    font-size: 0px;
    padding: 20px;
    max-height: 160px;
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
    align-items: center;
    
}

.box-itens-pesquisa {
    height: 140px;
    padding: 6px 0 0;
    min-width: 460px;
    max-width: 584px;
    

}

.flex-footer {
    background-color: tomato;
}